<header>
  <a href="/"><img height='50px' src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAmAAAAAJDUxMmU4ZmE0LWVmZGMtNDdlNS1hYmNkLTA5MTNmYWI0ZjgxMw.png" alt=""></a>
  <h1>Galvanize Reads</h1>
</header>
