<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Galvanize Reads</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    </head>
    <body>
  <h1>Galvanize Reads</h1>
  <a style='float:right;display:inline-block' class='button green btn-large' href='/books/new'>Add a New Book</a>
  <a style='float:right;display:inline-block' class='button green btn-large' href='/authors/new'>Add a New Author</a>
  <a class='button btn-large' href="/books">Books</a>
  <a class='button btn-large red' href="/authors">Authors</a>
</header>
