<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galvanize Reads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>
  <body>
    <% include ../partials/header %>
    <% for (var author in authors) { %>
      <div class='card'>
        <img height='100px' src="<%=authors[author].portrait_url%>" alt="">
        <p><%=authors[author].biography%></p>
        <button type="button" name="button">Edit</button>
        <button type="button" name="button">Remove</button>
        <ul>
          <% for (var item in join) {%>
            <% if (join[item].first_name === authors[author].first_name) { %>
              <p><%=join[item].title%></p>
            <% } %>

          <% } %>
        </ul>
      </div>
    <% } %>
  </body>
</html>
