
    <% include ../partials/header %>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <form class="form" action="/authors/new" method="post">
      <label for="first_name">First Name</label>
      <input id="first_name" type="text" name="first_name" value="">
      <label for="last_name">Last Name</label>
      <input id="last_name" type="text" name="last_name" value="">
      <label for="biography">Biography</label>
      <input id="biography" type="textarea" name="biography" value="">
      <label for="portrait_url">Portrait Url</label>
      <input id="portrait_url" type="text" name="portrait_url" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
