<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galvanize Reads</title>
  </head>
  <body>
    <% include ../partials/header %>
    <p>it works!</p>
    <p><%=drinks%> <%=books%></p>
  </body>
</html>
